<form ng-submit="search()" flex>
    <h2 class="">名刺検索</h2>
    <md-divider></md-divider>
    <div layout="row">
        <span flex="10"></span>
        <md-content flex layout="row" layout-align="center center">
            <md-input-container flex>
                <label>キーワード</label>
                <input type="text" ng-model="searchText" md-select-on-focus>
            </md-input-container>
            <md-button ng-click="toggleSlide()">
                オプション
            </md-button>
        </md-content>
        <div flex="20" layout="row" layout-align="center center">
            <md-button class="md-primary" type="submit">検索</md-button>
        </div>
    </div>
</form>
<md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="search-config">
  <md-toolbar class="md-theme-light">
    <h1 class="md-toolbar-tools">検索設定</h1>
  </md-toolbar>
  <md-content layout-padding>
    <md-input-container>
        <label>検索フィールド</label>
        <md-select ng-model="searchBy">
            <md-optgroup label="検索フィールド">
                <md-option ng-value="0">全て</md-option>
                <md-option ng-value="1">名前</md-option>
                <md-option ng-value="2">企業名</md-option>
            </md-optgroup>
        </md-select>
    </md-input-container>
    <md-content layout="row">
        <md-input-container flex>
            <label>オーダーフィールド</label>
            <md-select ng-model="searchBy">
                <md-optgroup label="オーダーフィールド">
                    <md-option ng-value="0">ID</md-option>
                    <md-option ng-value="1">名前</md-option>
                    <md-option ng-value="2">企業名</md-option>
                </md-optgroup>
            </md-select>
        </md-input-container>
        <md-input-container flex>
            <label>順番</label>
            <md-select ng-model="searchBy">
                <md-optgroup label="順番">
                    <md-option ng-value="0">昇順</md-option>
                    <md-option ng-value="1">降順</md-option>
                </md-optgroup>
            </md-select>
        </md-input-container>
    </md-content>  
  </md-content>
</md-sidenav>

<md-content layout-padding layout-wrap>
    <md-list>
      <md-list-item  ng-repeat="bizcard in bizcards | filter:searchText " class="md-2-line" ng-repeat="item in todos">
        <div layout="row" layout-padding flex>
            <img height="208px" width="344px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b1/Meishi-example.svg/2000px-Meishi-example.svg.png" alt="">
            <div flex>
                <h3>{{bizcard.name}}</h3>
                <span>{{bizcard.furigana}}</span>
                <span>{{bizcard.email}}</span>
                <span>{{bizcard.tel}}</span>
            </div>
            <div flex>
                <h3>{{bizcard.name}}</h3>
                <span>{{bizcard.furigana}}</span>
                <span>{{bizcard.email}}</span>
                <span>{{bizcard.tel}}</span>
            </div>
            <div>
                <md-button>content</md-button>
            </div>
        </div>
        <md-divider></md-divider>
      </md-list-item>
    </md-list>
</md-content>