/*Business Cards style*/
md-card.dropzone {
  height: 208px;
  width: 344px;
  background: #F9F5F1;
}

md-card.dropzone.omt{
  position: relative;
}

md-card > p {
  position: absolute;
}
md-card > p.card-name {
  left: 100;
  top: 40px;
  font-size: 30px;
}
md-card > p.card-furigana {
  left: 100px;
  top: 55px;
  font-size: 10px;
}
md-card > p.card-email {
  right: 5px;
  bottom: 3px;
  font-size: 10px;
}
md-card > p.card-tel {
  right: 5px;
  bottom: 15px;
  font-size: 10px;
}
md-card > p.card-c-postcode {
  right: 5px;
  bottom: 39px;
  font-size: 10px;
}
md-card > p.card-c-address {
  right: 5px;
  bottom: 27px;
  font-size: 10px;
}
md-card > p.card-c-name {
  left: 100px;
  top: 15px;
  font-size: 20px;
}

/*Style checkbox*/
md-checkbox.style-B {
  font-weight: bold;
}
md-checkbox.style-I {
  font-style: italic;
}