<md-content flex layout="row" layout-align="center center" md-theme="login">
    <md-whiteframe flex="40" layout-padding class="md-whiteframe-z4">
        <div layout="column"　layout-align="center center">
            <h2 style="text-align: center" >名刺システム</h2>
        </div>
        <form name="userForm" ng-submit="register(user)">
            <md-input-container class="md-block">
            <label>メールアドレス</label>
            <input md-maxlength="129" required type="email" name="email" ng-model="user.email">
            <div ng-messages="userForm.email.$error">
                <div ng-message="md-maxlength">129桁数内入力してください。</div>
                <div ng-message-exp="['required', 'email']">正しくメールアドレスを入力してください。</div>
            </div>
            </md-input-container>
            <md-input-container class="md-block">
            <label>パスワード</label>
            <input md-maxlength="30" required type="password" md-no-asterisk name="password" ng-model="user.password">
            <div ng-messages="userForm.password.$error">
                <div ng-message="required">This is required.</div>
                <div ng-message="md-maxlength">The description must be less than 30 characters long.</div>
            </div>
            </md-input-container>
            <md-input-container class="md-block">
            <label>パスワード認証</label>
            <input md-maxlength="30" required type="password" md-no-asterisk name="password_confirmation" ng-model="user.password_confirmation">
            <div ng-messages="userForm.password_confirmation.$error">
                <div ng-message="required">This is required.</div>
                <div ng-message="md-maxlength">The description must be less than 30 characters long.</div>
            </div>
            </md-input-container>
            <div layout="row">
                <md-button class="md-raised md-primary" type="submit">登録</md-button>
                <span flex></span>
                <a class="md-button md-primary" href="#/signin">ログイン</a>
            </div>
        </form>
    </md-whiteframe>
</md-content>