<md-content flex layout="row" layout-align="center center" md-theme="login">
    <md-whiteframe flex="40" layout-padding class="md-whiteframe-z4">
        <div layout="column"　layout-align="center center">
            <h2 style="text-align: center" >名刺システム</h2>
        </div>
        <form name="userForm" ng-submit="login(user)">
            <md-input-container class="md-block">
            <label>メールアドレス</label>
            <input md-maxlength="254" required type="email" name="email" ng-model="user.email">
            <div ng-messages="userForm.email.$error">
                <div ng-message="required">This is required.</div>
                <div ng-message="md-maxlength">The description must be less than 30 characters long.</div>
            </div>
            </md-input-container>
            <md-input-container class="md-block">
            <label>パスワード</label>
            <input md-maxlength="30" required type="password" md-no-asterisk name="password" ng-model="user.password">
            <div ng-messages="userForm.password.$error">
                <div ng-message="required">This is required.</div>
                <div ng-message="md-maxlength">The description must be less than 30 characters long.</div>
            </div>
            </md-input-container>
            <md-button class="md-raised md-primary" type="submit">ログイン</md-button>
        </form>
    </md-whiteframe>
</md-content>